{{ partial "head" }}


  <body>

    {{ partial "nav"}}

    <div class="container">
        <div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">About
                <strong>our Community</strong>
            </h2>
            <hr>
        </div>
        <div class="col-md-6">
            <img class="img-responsive img-border-left" src="/images/entrance.jpg" alt="">
        </div>
        <div class="col-md-6">
            <p>Step back in time as you enter into of one of Valdosta’s most sought-after communities,
              Grove Pointe. The character and detail of this high-end residential community focuses on classic
              traditional architecture. Set on a breathtaking site, Grove Pointe offers beautifully preserved
              Spanish Moss draped Live Oaks. These large estate homes sites are the perfect place to build your
              dream home and to find peace and quiet with complete privacy.</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="col-lg-12">
<!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup">
<form action="//grovepointehoa.us11.list-manage.com/subscribe/post?u=ae4e5071a231f9a7eb0ff60aa&amp;id=2cf4733690" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe to our mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_ae4e5071a231f9a7eb0ff60aa_2cf4733690" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
		</div>
	</div>
</div>

<!--End mc_embed_signup-->

{{ range first 5 (where .Data.Pages "Section" "news")}}
    {{ partial "summary" .}}
{{ end }}




    </div>

    {{ partial "footer" }}

    {{ partial "bottom_scripts"}}

  </body>

</html>
